<!DOCTYPE HTML>
<html>

<head>
    <title>学觅网</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body id="top">
    <!-- login-box -->
    <div class="ls">
    <a class="login" href="javascript:;">登录</a><span>|</span><a id="tosignin" href="#signin">注册</a>
    </div>
    <div class="container theme-popover">
        <div class="theme-poptit">
            <a href="javascript:;" title="关闭" class="close">X</a>
            <h2>登 录</h2>
        </div>
        <div class="theme-popbod">
		<form name="loginform" action="{{ url_for('user.login') }}" method="post">
                <ol>
                    <li>
                        <input type="text" size="20" name="email" placeholder="E-mail Address" />
                    </li>
                    <li>
                        <input type="password" size="20" name="password" placeholder="Password" />
                    </li>
                    <li>
                        <input type="submit" name="submit" value=" 登 录 " />
                    </li>
                </ol>
		<input type="hidden" name="remember_me" value="remember"/>
            </form>
        </div>
    </div>
    <div class="theme-popover-mask"></div>
    <!-- Header -->
    <section id="header">
        <header>
            <h1>MYROUTE</h1>
            <p>一个学习路线和资料的分享网站</p>
        </header>
        <footer>
            <a href="#banner" class="button style2 scrolly-middle">开始了解</a>
        </footer>
    </section>
    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>This is MYROUTE</h2>
        </header>
        <p>学觅网是一个balabalabbalabalabbalabalabbalabalab<a href="#">学习路线页面</a>balabala
            <br /> 你可以找学习路线balabala的
            <strong>biubiubiu</strong>少走弯路什么的balabala
            <br /> under the <a href="#signin">点击去注册</a>.</p>
        <footer>
            <a href="#first" class="button style2 scrolly">start</a>
        </footer>
    </section>
    <!-- Feature 1 -->
    <article id="first" class="container box style1 right">
        <a href="#" class="image fit"><img src="/static/images/pic01.jpg" alt="" /></a>
        <div class="inner">
            <header>
                <h2>在这里你可以：<br />
						route——</h2>
            </header>
            <p>找到流弊的人提供的学习路线参考，and follow it ..complete it...许多书本和资料链接提供，定制自己的学习路线BALABALBALABALBA</p>
        </div>
    </article>
    <!-- Feature 2 -->
    <article class="container box style1 left">
        <a href="#" class="image fit"><img src="/static/images/pic02.jpg" alt="" /></a>
        <div class="inner">
            <header>
                <h2>你还可以：<br />
							communicate——</h2>
            </header>
            <p>找到志同道合的旁友，一起完成目标 BALBALABABALABALABALA 交流啥的</p>
        </div>
    </article>
    <!-- Portfolio -->
    <article class="container box style2">
        <header>
            <h2>涵盖很多领域</h2>
            <p>IT 音乐 上天文 下地理…………BALA
                <br />
            </p>
        </header>
        <div class="inner gallery">
            <div class="row 0%">
                <div class="3u 12u(mobile)">
                    <a href="index-after-login.html" class="image fit"><img src="/static/images/thumbs/05.jpg" alt="" title="C++" /></a>c++分类</div>
                <div class="3u 12u(mobile)">
                    <a href="category.html" class="image fit"><img src="/static/images/thumbs/06.jpg" alt="" title="Python" /></a>python分类</div>
                <div class="3u 12u(mobile)">
                    <a href="category.html" class="image fit"><img src="/static/images/thumbs/07.jpg" alt="" title="javascript" /></a>js分类</div>
                <div class="3u 12u(mobile)">
                    <a href="category.html" class="image fit"><img src="/static/images/thumbs/08.jpg" alt="" title="Photoshop" /></a>Photoshop分类</div>
            </div>
        </div>
    </article>
    <div id="signin"></div>
    <!-- signin -->
    <article class="container box style3">
        <header>
            <h2>注册账号，开始学习之旅！</h2>
        </header>
	<form method="post" action=" {{ url_for('user.register') }}">
            <div class="row 50%">
                <div class="12u 12u$(mobile)">
                    <input type="text" class="text" name="nickname" placeholder="昵称" />
                </div>
                <div class="12u 12u$(mobile)">
                    <input type="text" class="text" name="email" placeholder="注册邮箱" />
                </div>
                <div class="12u$ 12u$(mobile)">
                    <input type="password" class="text" name="password" placeholder="密码" />
                </div>
                <div class="12u$ 12u$(mobile)">
                    <input type="password" class="text" name="password_conf" placeholder="确认密码" />
                </div>
                <div class="12u$ 12u$(mobile) center">
                  <span><input type="radio" size="20" name="gender" value="male"/> 男</span>
                  <span><input type="radio" size="20" name="gender" value="female"/> 女</span>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li>
                            <input type="submit" value="点我注册" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </article>
    <section id="footer">
        <div class="copyright">
            <ul class="menu">
                <li>&copy;MYROUTE All Rights Reserved</li>
                <li>Design:YZTeam</li>
            </ul>
        </div>
    </section>
    <div id="totop">
        <a href="#top"><img title="回到顶部" src="/static/images/arrow.png"></a>
    </div>
    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrolly.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
    $(function() {
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失  
        $(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() > 100) {
                    $("#totop").fadeIn(1500);
                } else {
                    $("#totop").fadeOut(1500);
                }
            });

            //当点击跳转链接后，回到页面顶部位置  

            $("#totop").click(function() {
                $('body,html').animate({
                    scrollTop: 0
                }, 1000);
                return false;

            });
        });
    });


    $(function() {
        //注册  

        $("#tosignin").click(function() {
            $('body,html').animate({
                scrollTop: $("#signin").offset().top //滚动到注册锚
            }, 1000);
            return false;

        });
    });


    $(document).ready(function($) {
        $('.login').click(function() {
            $('.theme-popover-mask').fadeIn(100);
            $('.theme-popover').slideDown(200);
        })
        $('.theme-poptit .close').click(function() {
            $('.theme-popover-mask').fadeOut(100);
            $('.theme-popover').slideUp(200);
        })

    })
    </script>
</body>

</html>
