<!doctype html>
<html>
<head>
<title>Hello from Flask</title>
<script src="{{ url_for('static', filename='epiceditor/js/epiceditor.min.js') }}"></script>
</head>
<body>
{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}
{% if current_user.nickname %}
  <h1>Hello {{ current_user.nickname }}!</h1>
  <form action='{{ url_for('user.logout') }}' method='post'>
	  <input type='submit' value='logout'/>
  </form>
  已有路线:
  {% for route in routes %}
	<div class=route>
		<a href='{{ url_for("route.route_page", route_id=route.id) }}'>{{ route.title }}</a>
	</div>
  {% endfor %}

  <p>新建路线:</p>
  <form id='create_route_form' action='{{ url_for('route.add_route') }}' method='post'>
	  路线标题
	  <input type='text' name='title'/><br/>
	  路线内容
	  <input id='md_text' type='hidden' name='md_text'/><br/>
	  <div id="epiceditor"></div>
	  <input type='submit' value='add'/>
  </form>
    <button onclick='show_content()'>show content</button>
  <script>
var opts = {
  container: 'epiceditor',
  textarea: null,
  basePath: '/static/epiceditor',
  clientSideStorage: true,
  localStorageName: 'epiceditor',
  useNativeFullscreen: true,
  parser: marked,
  file: {
    name: 'epiceditor',
    defaultContent: '',
    autoSave: 100
  },
  theme: {
    base: '/themes/base/epiceditor.css',
    preview: '/themes/preview/preview-dark.css',
    editor: '/themes/editor/epic-dark.css'
  },
  button: {
    preview: true,
    fullscreen: true,
    bar: "auto"
  },
  focusOnLoad: false,
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: 'Toggle Preview Mode',
    toggleEdit: 'Toggle Edit Mode',
    toggleFullscreen: 'Enter Fullscreen'
  },
  autogrow: true
};
	var editor = new EpicEditor(opts).load();
	function show_content(){
		console.log(editor.exportFile());
		document.getElementById('md_text').value = editor.exportFile();

		document.getElementById('create_route_form').submit();

		editor.remove('epiceditor');
		editor.unload();
		editor.load(opts);
	}
  </script>
{% else %}
  <h1>Hello World!</h1>
  <form action='{{ url_for('user.login') }}' method='post'>
	  <p>login</p>
	  <input name='email' type='text'/><br/>
	  <input name='password' type='password'/><br/>
	  <input name='remember_me' type='checkbox' value='remember'/><br/>
	  <input type='submit' value='login'/>
  </form>
  <form action='{{ url_for('user.register') }}' method='post'>
	  <p>register</p>
	  昵称
	  <input name='nickname' type='text'/><br/>
	  邮箱
	  <input name='email' type='text'/><br/>
	  密码
	  <input name='password' type='password'/><br/>
	  确认密码
	  <input name='password_conf' type='password'/><br/>
	  male
	  <input name='gender' type='radio' value='male' checked='checked'/>
	  female
	  <input name='gender' type='radio' value='female'/><br/>
	  <input type='submit' value='register'/>
  </form>
{% endif %}
</body>
</html>

