<!doctype html>
<html>
<head>
<title>Hello from Flask</title>
</head>
<body>
{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}
{% if current_user.email %}
  <h1>Hello {{ current_user.email }}!</h1>
  <form action='{{ url_for('user.logout') }}' method='post'>
	  <input type='submit' value='logout'/>
  </form>
  已有路线:
  {% for route in routes %}
	<div class=route>
		<a href='{{ url_for("route.get_page", route_id=route.id) }}'>{{ route.title }}</a>
	</div>
  {% endfor %}

  <p>新建路线:</p>
  <form action='{{ url_for('route.add_route') }}' method='post' enctype='multipart/form-data'>
	  路线标题
	  <input type='text' name='title'/><br/>
	  路线md文件
	  <input type='file' name='md_file'/><br/>
	  <input type='submit' value='add'/>
  </form>
{% else %}
  <h1>Hello World!</h1>
  <form action='{{ url_for('user.login') }}' method='post'>
	  <p>login</p>
	  <input name='email' type='text'/><br/>
	  <input name='password' type='password'/><br/>
	  <input name='remember_me' type='checkbox' value='remember'/><br/>
	  <input type='submit' value='login'/>
  </form>
  <form action='{{ url_for('user.register') }}' method='post'>
	  <p>register</p>
	  <input name='email' type='text'/><br/>
	  <input name='password' type='password'/><br/>
	  <input name='password_conf' type='password'/><br/>
	  male
	  <input name='gender' type='radio' value='male' checked='checked'/>
	  female
	  <input name='gender' type='radio' value='female'/><br/>
	  <input type='submit' value='register'/>
  </form>
{% endif %}
</body>
</html>

